@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CultureInfo Browser!</h1>
</div>
<div class="card">
    <div class="card-body">
        <p class="card-text">
            This is a simple Asp.Net Core <code>CultureInfo</code> explorer.
            You can filter the list by name (like <code>en</code>) or by English name (like <code>english</code>).
            The filters are looking anywhere using the string's <code>Contains(filterValue, StringComparison.InvariantCultureIgnoreCase)</code> method.
        </p>
    </div>
</div>
<br />

<div class="card">
    <h5 class="card-header">Filters</h5>
    <div class="card-body">
        <form method="get">
            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        <label for="nameCode">Name (code): </label>
                        <input type="text" asp-for="NameCode" class="form-control" id="nameCode" placeholder="en">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="englishName">Type: </label>
                        <select class="custom-select" asp-for="FilterType">
                            <option value="0" selected>Or</option>
                            <option value="1">And</option>
                        </select>
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label for="englishName">English name: </label>
                        <input type="text" asp-for="EnglishName" class="form-control" id="englishName" placeholder="english">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-block btn-primary">Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>

<br />

<div class="card-deck">
    <div class="card">
        <h5 class="card-header">Neutral Cultures</h5>
        <ul class="list-group list-group-flush">
            @foreach (var culture in Model.NeutralCultures)
            {
                <li class="list-group-item">
                    @culture.EnglishName
                    <span class="badge badge-dark">@culture.Name</span>
                </li>
            }
        </ul>
    </div>
    <div class="card">
        <h5 class="card-header">Culture Specifics</h5>
        <ul class="list-group list-group-flush">
            @foreach (var culture in Model.CultureSpecific)
            {
                <li class="list-group-item">
                    @culture.EnglishName
                    <span class="badge badge-dark">@culture.Name</span>
                </li>
            }
        </ul>
    </div>
</div>

<br />

<div class="card-group">
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                If you have ideas or issues, please post them on GitHub.
            </p>
        </div>
        <div class="card-footer">
            <a href="https://github.com/ForEvolve/CultureInfo-Browser" class="btn btn-dark d-inline-flex align-items-center" target="_blank">
                <img src="~/images/GitHub-Mark-Light-32px.png" />
                <span>&nbsp;ForEvolve/CultureInfo-Browser</span>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                This was initially built to help look at localization Pull Requests in the <em>ForEvolve.AspNetCore.Localization</em> project.
                That project aim at translating Asp.Net Core validation attributes automatically.
            </p>
        </div>
        <div class="card-footer text-right">
            <a href="https://github.com/ForEvolve/ForEvolve.AspNetCore.Localization" class="btn btn-dark d-inline-flex align-items-center" target="_blank">
                <img src="~/images/GitHub-Mark-Light-32px.png" />
                <span>&nbsp;ForEvolve.AspNetCore.Localization</span>
            </a>
        </div>
    </div>
</div>
