@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    There is no database, only Application Insights. 
    Insights data will not be sold or anything, they will be used to know and understand
    how the application is used and for debugging purposes (if ever needed).
</p>
<p>
    When in doubt, feel free to use an ad-blocker, a VPN, or both, 
    I don't want your personal info, only usage statistics.
</p>
<p>Enjoy!</p>