@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    There is no database, only an Application Insights. 
    Insights data will not be sold or anything, they will be used to know 
    the usage of the application and for debugging purposes (if needed).
</p>
<p>
    When in doubt, feel free to use an ad-blocker like uBlock, a VPN, or both!
</p>
